*.rar
*.zip
.idea/workspace.xml
.idea/*
.htacess
.env
.DS_Store
browscap*
public/images/imagePost/*
public/images/imageQuestion/*
public/images/imageSubquestion/*
public/images/imageAnswer/*
*.sublime-project
*.sublime-workspace
deploy