
/*==================SECTION===========================*/
/**{
  margin: 0;
  padding:0;
}*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.content{
  padding-top: 3%;
  padding-bottom: 90px;
}
.wrapper{
  min-height:100%;
  position:relative;
  overflow: hidden;
  /*padding-bottom: 7%;*/
  background: #fafafa;
}

/*.footer:after{
  clear: both;
}
.footer:before,
.footer:after{
  content: " ";
  display: table;
}
.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2%;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: green;
  background: #ebebeb;
<<<<<<< HEAD
}*/
/*.col-md-6{
 float: none;
 margin: 0  auto;
}*/
/*==================END SECTION===========================*/
.responsive{
  border: 1px solid green;
}


/*==================NAV===========================*/

a:hover{
  color: red;
}
.a {
  padding-left: 10px;
  padding-right: 10px;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.control-label{
  color: #ff0066;
  font-weight: bold;
  font-size: 20px;
}
.navbar-button{
  color: #406feb;
  font-size: 16px;
}
/*==================END NAV===========================*/


/*==================FROM-H1===========================*/
h1.title{
  color: #660066;
  font-weight: bold;
}
h2.title{
  color: #993333;
}
.btn-info:hover{
  background: #ccffcc;
  color: #660066;
}
.btn-info{
  background: #ccffcc;
  color: #660066;
  font-size: 20px;
  font-weight: bold;
}
.badge-span{
  background: white;
  color: blue;
}
.list-group-item{
  color: #ff3300;
  /*font-weight: bold;*/
  font-size: 20px;
}
.list-group{
  padding:2% 0;
}
/*.form-horizontal .control-label{
  text-align: left;
}*/

img {
  width: 100%;
  height: 450px;
}
.clear{
  height: 10px;
}
.list_answer{
     word-wrap: break-word; 
    font-weight: bold;
    background: #e0f0ff;
    padding: 10px;
    color: #993333;
     vertical-align: top; 
    list-style: none;
    display: list-item;
    border-radius: 10px;
    /* text-align: -webkit-match-parent; */
}
.answer_content{
  padding-left: 5px;
}
.div_i{
  padding: 10px 0;
}

/*==================END FORM-H1===========================*/

/*==================RESPONSIVE===========================*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 479px){
      header{
      height: 0px;
      padding: 0px;
      margin-bottom: 0px;
      display: none;
  }
	footer{
		height: 100px;
	}
  .content{
    margin: 0 5%;
  }
}

@media (min-width: 480px){
    header{
      font-size: 30px;
      /*padding-top: 10px;*/
      font-weight: bold;
      color: green;
      text-align: left;
      margin:0 auto;
  }
  .content{
    margin-left: 10%;
    margin-right: 10%;
  }
  #HomeSmall{
    display: none;
  }
}
@media (min-width: 768px) {
  header{
    font-size: 40px;
    /*padding-top: 20px;*/
    font-weight: bold;
    color: green;
    text-align: left;
    margin:0 auto;
  }
 
  #HomeSmall{
    display: none;
  }
  .content{
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Medium devices (desktops, 992px and up) */

/*@media (min-width: 992px) {
  header{
    display: none;
    font-size: 50px;
    padding-top: 20px;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin:0 auto;
  }
  #HomeSmall{
    display: none;
  }
  .content{
    margin-left: 25%;
    margin-right: 15%;
  }
}*/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header{
    font-size: 50px;
    /*padding-top: 20px;*/
    font-weight: bold;
    color: green;
    text-align: center;
    margin:0 auto;
  }
  #HomeSmall{
    display: none;
  }
    .content{
    margin-left: 25%;
    margin-right: 25%;
  }
}
