html,
body {
	margin:0;
	padding:0;
	height:100%;
}
header {
	padding:0px;
}
div.content {
	padding-bottom:100px; /* Height of the footer element */
}
div.wrapper {
	min-height:100%;
	position:relative;
}

footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
}
.list_answer{
     word-wrap: break-word; 
    font-weight: bold;
    background: #e0f0ff;
    padding: 10px;
    color: #993333;
     vertical-align: top; 
    list-style: none;
    display: list-item;
    border-radius: 10px;
    /* text-align: -webkit-match-parent; */
}
.answer_content{
	padding-left: 5%;
}